@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Play:wght@400;700&display=swap');

body{
    font-family: "Outfit", sans-serif;
}
a{
    text-decoration: none !important;
    /* color: black; */
    color: default;
}

/* .report-div {
    margin-top: 15vh;
    padding: 20vh 80px;
    max-width: 850px;
    background-image: url('Letterhead-2.png'), url('Letterhead-head.png');
    background-repeat: repeat-y, no-repeat;
    background-size: 100% auto, 100% auto;
    background-position: top, top;
  } */
    
/* Common classes */
.mt-15vh{
    margin-top: 15vh;
}

a, .isLink{
    text-decoration: none
}

.country-header{
    z-index: 9;
}

.country-dropdown{
    padding-top:1px ;
    padding-bottom:1px ;
    font-size: .8em !important;
}

.bg-edf7fa{
    background: #edf7fa;
}

.bg-F8FDFF{
    background: #F8FDFF;
}

.text-primary {
    color: #2265B0 !important;
}

.text-primary-2 {
    color: #2265B0 !important;
}

.text-secondary-2{
    color: #4BABC9;
}

.bg-primary-2 {
    background: #2265B0 !important;
}

/* toggle switch */

.custom-switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 50px;
    margin:15px 0;
  }
  
  .custom-switch input {display:none;}
  
  .custom-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .custom-switch .slider:before {
    position: absolute;
    content: "";
    height: 43px;
    width: 43px;
    left: 4px;
    bottom: 3px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .custom-switch .slider {
    background-color: #2265B0;
  }
  
  input:focus + .custom-switch .slider {
    box-shadow: 0 0 1px #2265B0;
  }
  
  input:checked + .custom-switch .slider:before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  
  /* Rounded sliders */
  .custom-switch .slider.round {
    border-radius: 34px;
  }
  
  .custom-switch .slider.round:before {
    border-radius: 50%;
  }
  
  /* Strip */
  .custom-switch .switch.strip{
    height: 25px;
  }
  
  .custom-switch .slider.strip{
    border-radius: 15px;
  }
  
  .custom-switch .slider.strip:before{
    background:#fff;
    box-shadow: 0 0 10px 3px #ccc;
    border-radius: 50%;
    bottom: -9px;
  }